@font-face {
    font-family: open-sans;
    src: url("./assets/fonts/static/OpenSans-Medium.ttf") format('truetype');;
 }

* {
    margin: 0;
    padding: 0;
    font-family: open-sans;
}

#section-header {
    background-color: rgb(85, 33, 8);
    padding: 20px;
    padding-bottom: 60px;
}

#header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 90px;
    gap: 50px;
}

#header-content>div:nth-child(1) {
    text-align: center;
    animation-name: animation;
    animation-duration: 4s;
}

#header-content>div:nth-child(2) {
    width: 700px;
    animation-name: animation;
    animation-duration: 4s;
}

#header-content h2 {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.296);
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
}

#section-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 50px;
}


#section-footer>div:nth-child(1) {
    font-size: 22px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#section-footer>div:nth-child(1)>a:nth-child(4),
#section-footer>div:nth-child(1)>a:nth-child(5) {
    width: fit-content;
}

#section-footer>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@keyframes animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#section-mid {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-mid > div {
    background-color: rgb(197, 30, 30);
    background-image: url(assets/images/bg-gray-1.webp);
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    border-radius: 10px;
    border: 2px solid rgb(77, 76, 76);
    height: 200px;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.57);
}

#section-floor {
    background-color: rgba(29, 36, 42, 0.9);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#section-floor a {
    color: rgba(255, 255, 255, 0.5);
}
#section-floor > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#section-floor > div:nth-child(2) img {
    width: 80px;
}